<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    
    
    <title>Project M1</title>
    <style>
      

      
  </style>
</head>
<body>

    <div class="mb-2 text-sm  dark:text-gray-400">
        <h1> MESCnn Segmentation and Classification</h1>
        <h2>Welcome back</h2>
        <p> This is the MESCnn segmentation and classification tool. You can upload your images and download the results after the segmentation and classification.</p>
    </div><!DOCTYPE html>
  
    
    <div class="flex items-center justify-center w-full mb-5">
        <label for="dropzone-file" class="relative flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600" style="background-color: rgb(59 130 246);">
            <div class="absolute inset-0">
                
                <img src="https://cdn-icons-png.freepik.com/512/4138/4138946.png" class="w-25 h-full" alt="Image" />
            </div>
            <div class="flex flex-col items-center justify-center pt-5 pb-6" style="margin-left: 150px;"> <!-- Décalage manuel de 50px vers la droite -->
                
                <svg class="w-8 h-8 mb-4 text-white dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                </svg>
                <p class="mb-2 text-sm text-white dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                <p class="text-xs text-white dark:text-gray-400">TIFF , TIF, PNG, JPEG ( Either a CROP or WSI)</p>
            </div>
            <input id="dropzone-file" type="file" class="hidden" />
        </label>
</div>


<div class="flex items-center justify-center mb-5">
    <button class="flex items-center rounded-full bg-blue-500 p-2 text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="text-white">
            <g id="Iconly/Regular/Broken/Search">
                <g id="Search">
                    <path id="Search_2" d="M21.7555 20.6065L18.3182 17.2458L18.2376 17.1233C18.0878 16.9742 17.883 16.8902 17.6692 16.8902C17.4554 16.8902 17.2505 16.9742 17.1007 17.1233C14.1795 19.8033 9.67815 19.949 6.58201 17.4637C3.48586 14.9784 2.75567 10.6334 4.87568 7.31017C6.9957 3.98697 11.3081 2.71685 14.9528 4.34214C18.5976 5.96743 20.4438 9.98379 19.267 13.7276C19.1823 13.9981 19.2515 14.2922 19.4487 14.4992C19.6459 14.7062 19.9411 14.7946 20.223 14.7311C20.505 14.6676 20.7309 14.4619 20.8156 14.1914C22.2224 9.74864 20.0977 4.96755 15.8161 2.94106C11.5345 0.914562 6.38084 2.25082 3.68905 6.08542C0.99727 9.92001 1.57518 15.1021 5.04893 18.2795C8.52268 21.4569 13.8498 21.6759 17.5841 18.7949L20.6277 21.7705C20.942 22.0765 21.4502 22.0765 21.7645 21.7705C22.0785 21.4602 22.0785 20.9606 21.7645 20.6503L21.7555 20.6065Z" fill="currentColor"/>
                </g>
            </g>
        </svg>
        <span class="ml-2">Start analyzing</span>
    </button>

    
</div>






<div class="flex flex-wrap justify-evenly">
    <div class="inline-block p-4 rounded-lg bg-blue-500 mb-4" style="background-color: rgb(224 242 254);">
        <div class="flex items-center">
            <h1 class="text-blue-500 mr-3 font-serif text-2xl border-r-2 border-blue-500 pr-3">M</h1>
            <div class="flex flex-col">
                <h1 class="text-blue-500">Sclerosed lesion</h1>
                <p class="text-blue-500">Model : EffocientNetV2</p>
                <p class="text-blue-500">Accuracy: 0.98</p>
                <p class="text-blue-500">Date of release : 2018</p>
            </div>
        </div>
    </div>
    
<div class="flex flex-wrap justify-evenly">
    <div class="inline-block p-4 rounded-lg bg-blue-500 mb-4" style="background-color: rgb(224 242 254);">
        <div class="flex items-center">
            <h1 class="text-blue-500 mr-3 font-serif text-2xl border-r-2 border-blue-500 pr-3">M</h1>
            <div class="flex flex-col">
                <h1 class="text-blue-500">Sclerosed lesion</h1>
                <p class="text-blue-500">Model : EffocientNetV2</p>
                <p class="text-blue-500">Accuracy: 0.98</p>
                <p class="text-blue-500">Date of release : 2018</p>
            </div>
        </div>
    </div>
   








   
</body>
</html>