<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processing image</title>
    <script src="https://cdn.tailwindcss.com" rel="stylesheet"></script>
    <style>
        /* Ajouter des transitions personnalisées pour la liste */
        #log li {
            transition: transform 0.5s ease-in-out;
        }
    </style>
</head>

<body>
    <div class="container mx-auto">
        <div class="flex h-screen flex-row space-between">
            <!-- Conteneur centré pour le premier élément -->
            <div class="flex items-center" id="logContainer">
                <ul class="flex flex-col h-64 mx-h-64 overflow-hidden" id="log">
                    <!-- Les éléments de liste seront ajoutés ici par JavaScript -->
                </ul>
            </div>
        </div>

    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js" integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const socket = io();

    socket.on('connect', () => {
        console.log("Connected");
        socket.emit('process_img');
    });

    socket.on('message', (data) => {
        console.log(data);
    
        var ul = document.getElementById("log");
        var li = document.createElement("li");
        li.appendChild(document.createTextNode(data));
    
        // Appliquer une translation initiale sur l'axe X
        li.classList.add("transform", "-translate-y-full", "text-[#0b1d3e]", "text-4xl", "font-bold", "transition", "duration-500", "ease-in-out");
        ul.insertBefore(li, ul.firstChild);
    
        // Animer la translation X pour la ramener à sa position initiale
        setTimeout(() => {
            li.classList.remove("-translate-y-full");
            li.classList.add("translate-y-0");
        }, 10);
        
        // Décaler les autres éléments pour laisser la place au nouveau
        var otherLis = ul.getElementsByTagName("li");
        for (var i = 1; i < otherLis.length; i++) {
            otherLis[i].classList.remove("text-4xl", "font-bold");
            otherLis[i].classList.add("text-xl");
    
            var opacity = Math.max(1 - i * 0.2, 0.1);
            otherLis[i].style.opacity = opacity.toString();
            otherLis[i].style.transform = "translateY(" + 20 + "px)";
        }
    });
</script>
</html>
