<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample HTML Page</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com" rel="stylesheet"></script>
</head>

<body class="h-dvh place-content-center">
    <!-- Header -->
    <nav class="top-0 bg-white border-gray-200 w-[100%] shadow-sm">
        <div class="container sticky z-50 mx-auto">
            <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto py-12">
                <ul class="flex items-center space-x-8">
                    <li>
                        <a class="text-gray-950 font-bold hover:text-gray-500 cursor-pointer" href="/">Home</a>
                    </li>
                    <li>
                        <a class="text-gray-950 font-bold hover:text-gray-500 cursor-pointer" href="/results">Results</a>
                    </li>
                    <li>
                        <a class="text-teal-500 font-bold hover:text-teal-300 cursor-pointer" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

   
    <div class="flex h-full w-full overflow-auto text-xl">
        <div class="container mx-auto grow">
            <div class="flex flex-col h-full w-full mt-6 mb-6">
                <div class="w-full mt-4">
                    <h1 class="font-bold text-4xl pt-2">What is kidney disease?</h1>
                    <p class="pt-2">Kidney diseases are conditions affecting the function of the kidneys, which are essential organs for filtering blood and eliminating waste from the body. They can take various forms, such as kidney failure, kidney infections, kidney stones and genetic kidney disease. Risk factors include high blood pressure, diabetes, obesity and poor diet.</p>
                    <p class="pt-2">Kidney disease can be detected by blood and urine tests to assess kidney function and detect abnormalities such as protein or blood in the urine. Imaging techniques such as ultrasound can also be used to visualise the structure of the kidneys and identify problems such as cysts or kidney stones. It is important to consult a doctor if you experience symptoms such as persistent back pain, urinary problems or swelling, as early detection is crucial for effective treatment of kidney disease.</p>
                    <br>
                    <h1 class="font-bold text-4xl">The Nephropatie IGA</h1>
                    <p class="pt-2">The Nephropathy IgA, or Berger's disease, is a chronic kidney disorder characterised by the abnormal accumulation of immunoglobulin A in the kidneys, causing inflammation and progressive damage. Symptoms usually include blood in the urine, high blood pressure and swelling of the legs.</p>
                    <p class="pt-2">This disease is characterised by different lesions depending on a number of criteria found in its symptoms.</p>
                    <br>
                    <h1 class="font-bold text-3xl">The 4 differents lesions:</h1>
                    <li class="font-bold text-2xl">Lesion M</li>
                    <p class="pt-2">The "M" in Nephropathy IgA stands for immunoglobulin A, an immune system protein. In this disease, excessive amounts of IgA accumulate in the kidney glomeruli, triggering inflammation and progressive damage to the kidneys. This leads to symptoms such as blood in the urine, high blood pressure and swelling. The course of Nephropathy IgA can vary from mild to advanced renal failure.</p>
                    <li class="font-bold text-2xl">Lesion E</li>
                    <p class="pt-2">The "E" in Nephropathy IgA refers to enterocytes, which are cells found in the intestine where the IgA-associated immune response generally occurs. In Nephropathy IgA, there is an alteration in the mechanism by which IgA is produced and eliminated by the enterocytes, leading to its accumulation in the kidneys. This intestinal dysfunction contributes to the development of kidney disease by disrupting immune homeostasis.</p>
                    <li class="font-bold text-2xl">Lesion S</li>
                    <p class="pt-2">The "S" in Nephropathy IgA represents the syndrome, as this condition is often associated with a set of characteristic symptoms, such as blood in the urine, proteinuria (presence of protein in the urine), high blood pressure and an increased risk of kidney failure. This syndrome is the result of the abnormal accumulation of immunoglobulin A (IgA) in the glomeruli of the kidneys, causing inflammation and damage to the kidneys. Nephropathy IgA syndrome can vary in severity, from a mild illness to end-stage renal failure requiring a kidney transplant.</p>
                    <li class="font-bold text-2xl">Lesion C</li>
                    <p class="pt-2">The "C" in Nephropathy IgA refers to the component, indicating that this disease is characterised by abnormal deposits of immunoglobulin A (IgA) in the renal glomeruli. These deposits trigger an inflammatory response and damage to the kidneys, leading to symptoms such as blood in the urine, high blood pressure and swelling. The IgA component is central to the pathogenesis of the disease, distinguishing Nephropathy IgA from other kidney disorders.</p>
                    <br>
                    <h1 class="font-bold text-3xl pt-2">Oxford Score</h1>
                    <p class="pt-2">The Oxford score assesses the severity of kidney disease according to the 4 different lesions listed above. This score is used to stratify the risk of disease progression and to help guide the treatment and management of patients with Nephropathy IgA. Higher scores generally indicate more severe disease and an increased risk of renal complications.</p>
                    <p class="pt-2"> This score is characterised by the presence or absence of a certain lesion (M-score: 0/1; E-score: 0/1; S-score: 0/1; C-score: 0/1) as well as a ratio indicating how many lesions were observed on all the crops (M-ratio: 10 | 23; E-ratio: 0 | 23; S-ratio: 0 | 23; C-ratio:0 | 23).</p>
                    <br>
                    <h1 class="font-bold text-4xl">MESCnn</h1>
                    <p class="pt-2">MESCnn is a segmentation and classification algorithm. This algorithm uses a WSI and segments each glomerulus into a crop. The algorithm then classifies each crop to determine the state of the disease.</p>
                    <br>
                    <h1 class="font-bold text-4xl">Our Team:</h1>
                    <p class="pt-2">Our team is fully composed of students in the 4th year at Junia ISEN.</p><br>
                    <div class="flex flex-row justify-center items-center">
                        <div class="flex flex-col items-center justify-center">
                            <div class="w-32 h-32 bg-gray-200 rounded-full flex items-center justify-center m-2">
                                <img src="https://via.placeholder.com/150" alt="image" class="w-24 h-24 rounded-full">
                            </div>
                            <p>Wladimir Lucet</p>
                        </div>
                        <div class="flex flex-col items-center justify-center">
                            <div class="w-32 h-32 bg-gray-200 rounded-full flex items-center justify-center m-2">
                                <img src="https://via.placeholder.com/150" alt="image" class="w-24 h-24 rounded-full">
                            </div>
                            <p>Antoine Mignien</p>
                        </div>
                        <div class="flex flex-col items-center justify-center">
                            <div class="w-32 h-32 bg-gray-200 rounded-full flex items-center justify-center m-2">
                                <img src="https://via.placeholder.com/150" alt="image" class="w-24 h-24 rounded-full">
                            </div>
                            <p>Théo Hinaut</p>
                        </div>
                        <div class="flex flex-col items-center justify-center">
                            <div class="w-32 h-32 bg-gray-200 rounded-full flex items-center justify-center m-2">
                                <img src="https://via.placeholder.com/150" alt="image" class="w-24 h-24 rounded-full">
                            </div>
                            <p>Clément Calujek</p>
                        </div>
                        <div class="flex flex-col items-center justify-center">
                            <div class="w-32 h-32 bg-gray-200 rounded-full flex items-center justify-center m-2">
                                <img src="https://via.placeholder.com/150" alt="image" class="w-24 h-24 rounded-full">
                            </div>
                            <p>Aymane Lamqari</p>
                        </div>
                        <div class="flex flex-col items-center justify-center">
                            <div class="w-32 h-32 bg-gray-200 rounded-full flex items-center justify-center m-2">
                                <img src="https://via.placeholder.com/150" alt="image" class="w-24 h-24 rounded-full">
                            </div>
                            <p>Guillaume Cazier</p>
                        </div>
                    </div>
                    <p class="pt-2">Our kidney classification project offers a promising prospect by providing physicians with a structured framework for assessing and classifying renal conditions such as IgA nephropathy. By using objective, standardised criteria, this project facilitates clinical decision-making by helping doctors to rapidly identify specific features of the disease in patients, which can optimise diagnosis and choice of treatment.</p>
                    <p class="pt-2">Unfortunately, we did not have enough data (WSI) to perfect our models due to the lack of feedback from Professor Gibier. As our project was mainly based on training the various models in order to obtain the best possible results using as much data as possible, we were forced to change our plan in agreement with Ms Windal and Mr Guetarni. We therefore decided to develop a graphical interface to facilitate the use of MESCnn. This includes importing a file in a compatible format and processing and analysing it.<p>
                </div>        
            </div>
            
          
        </div>
    </div>
</body>
<script type="module" src="{{ url_for('static', filename='js/results.js')}}"></script>
</html>